<h1 id="heading"><%= @title || "Torello" %></h1>

<div class="width">

  <% lists.each do |list| %>
  <div class="list">
    <form class="update-all" action="lists/update" method="post">
      <input type="hidden" name="id" value="<%= list.id %>">
      <input type="hidden" name="name" value="<%= list.name %>">
      <div class="list-header-container">
        <div class="list-header"><%= list.name %></div>
        <div name="list-menu">
          <span class="save hidden">Saving...</span>
        </div>
      </div>
      <ul class="js-sortable-items">
        <% list.items.each_with_index do |item, index| %>
          <%= erb :"shared/_item.html", locals: {item: item} %>
        <% end %>
      </ul>
    </form>
    <form class="add-item" action="lists/<%= list.id %>/items/add" method="post">
      <input type="text" name="name" class="new-item" placeholder="Add an item..." required>
    </form>
  </div>
  <% end %>

  <div class="list new-list">
  <span class="add-a-list js-add-a-list">Add a list...</span>
  <div class="add-list-inputs hidden">
    <form class="list-form" action="lists" method="post">
    <input class="list-name-input" type="text" name="list-name" placeholder="List name..." autofocus>
    <input type="hidden" name="id" value="<%= lists.length %>">
    <button class="save-button">Save</button>
    <span class="cancel-input js-cancel-input">x</span>
    </form>
  </div>
</div>

<div style="clear: both"></div>
</div>

